---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="nav-links">
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 2em;
		background: white;
		border-bottom: 1px solid var(--border-color);
	}
	h2 {
		margin: 0;
		font-size: 1.1em;
		font-weight: 600;
	}

	h2 a {
		text-decoration: none;
		color: rgb(var(--black));
	}
	h2 a:hover {
		color: var(--accent);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 960px;
		margin: 0 auto;
		padding: 1em 0;
	}
	.nav-links {
		display: flex;
		gap: 1.5em;
	}
	@media (max-width: 720px) {
		header {
			padding: 0 1em;
		}
		.nav-links {
			gap: 1em;
		}
	}
</style>
